<!DOCTYPE html>
<html>
<head>
	<title>Delete/EditError</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
  <div class="jumbotron text-center">
      <h1><span class="fa fa-cloud"></span> ERROR! You Do Not Have Access To This Report! </h1>
      <h2> Sorry, but you are not able to access this report </h2>
      <a style = "text-align: center;" href = "/profile"> Profile </a>
    </div>
</body>
</html>
