<!doctype html>
<html lang = "en">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "../public/stylesheets/deleteReport.css">
    <title> Password-Reset  </title>
</head>
<body>
  <div id = "topblock" class = "jumbotron text-center">
  <h1 id = "bottompager"> <span class="fa fa-cloud"></span>  First Nations' Online Funding Reports <span class="fa fa-cloud"></span>  </h1>
  <h2 id = "deleteYourReport"> Delete Your Report </h2>
  <br>
  <h3 id= "deleteYourReport">Please enter your password below to confirm the deletion of your report. Please note that you will not be able to access the report you have just deleted.</h3>

  <% if (messages != "undefined") { %>
    <% var message = "Invalid Password!"%>
      <div class="alert alert-danger"><%= message %></div>
  <% } %>

  <form method = "POST">
    <b><label id = "enterYourPassword" for "confirmYourPassword">Your Password:</label></b><br>
    <br>
    <input type = "password" id = "passwordProvided" name = "passwordProvided" style = "text-align: center;" required><br>
    <br>
      <button class="btn btn-warning" type="submit" class="btn btn-danger" style "color: blue;">Submit</button>
  </form>
</div>
</body>
