
<!doctype html>
<html>
<head>
</head>
<body>

  <% var repString = "" %>
  <% repString += user.Username + "\n" %>
  <% repString += user.FirstNationName + "\n" %>
  <% repString += user.ChiefName + "\n" %>
  <% repString += user.ContactName + "\n" %>
  <% repString += user.PhoneNO + "\n" %>
  <% repString += user.Email + "\n" %>
  <% repString += user.CreateDate + "\n" %>
  <% repstring += "\n and then more stuff" %>
  <% var writer = require('file-report-writer.js')%>
  <% writer.saveReport(user.Username, repString) %>

</body>
</html>
