<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body
        {
          padding-top:125px;
          background-color: 	#DCDCDC;
        }
        .loginBox
        {
          left: 0;
          right: 0;
          background-color: #3b7687;
          border: 2px solid black;
        }
        .loginText
        {
          color: white;
          padding: 0.5% 0.5% 0.5% 0.5%;
        }
        .box
        {
            border: 2px solid black;
            margin-top: -2px;
            padding-top: 1.8%;
            padding-bottom: 1.8%;
            background-color: #FFFFF0;
        }
        label
        {
          font-size: 16px;
        }
    </style>
</head>
<body>
<div class="container">
  <div class = "col-sm-8 col-sm-offset-2 loginBox">
    <h1 class = "loginText"><span class="fa fa-sign-in"></span> Login</h1>
  </div>
  <div class="col-sm-8 col-sm-offset-2 box">
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="userName">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Forgot your password? <a href = "/enter-your-email">Reset Password</a> </p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
