#whoGaveService
{
   margin-left: 5%; margin-right: 5%;
}
#whoAdministeredCheckBox
{

}
#otherFundingSources
{
   margin-left: 5%; margin-right:5%;
}
#theFirstThreeLinesCombined
{
   margin-left: 5%; margin-right:5%;
}
#clientsAndPriorities
{
   margin-left: 5%; margin-right: 5%;
}
#fundingSpent
{
    margin-left:5%; margin-right: 5%;
}
#commentsAndConfirm
{
    margin-left: 5%; margin-right: 5%;
}
.centerTextAllign
{
  text-align: center;
}
.hello
{
 float:left;  width: 350px;
}
body
{
  font-family: Helvetica, arial,  sans-serif;
  background-color: #DCDCDC;
}
.theContainer
{
  margin-left: 5%; margin-right: 5%;
}
.jumbotron
{
  border: 2px solid black;
  background-color: #FFFFF0;
}
