#whoGaveService
{
   margin-left: 5%; margin-right: 5%;
}
#whoAdministeredCheckBox
{

}
  #otherFundingSources
{
   margin-left: 5%; margin-right:5%;
}
#theFirstThreeLinesCombined
{
   margin-left: 5%; margin-right:5%;
}
#clientsAndPriorities
{
   margin-left: 5%; margin-right: 5%;
}
#fundingSpent
{
    margin-left:5%; margin-right: 5%;
}
#commentsAndConfirm
{
    margin-left: 5%; margin-right: 5%;
}
.centerTextAllign
{
  text-align: center;
}
.hello
{
 float:left;   width: 10em;  width: 350px;
}
body
{
  font-family: Helvetica, arial,  sans-serif;
}
.theContainer
{
  margin-left: 5%; margin-right: 5%;
}
