#invalidMessage
{
  font-size: 20px;
  text-align: center;

}
#reEnterAddress
{
  text-decoration: underline;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text decoration: underline;
  margin-top: 5%;
  color: #01a1b5;

}
