#invalidMessage
{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
#reEnterAddress
{
  text-decoration: underline;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text decoration: underline;
  margin-top: 5%;
  color: #01a1b5;

}
body
{
  background-color: #DCDCDC;
}
.jumbotron
{
  margin-top: 5%;
  background-color: #FFFFF0 !important;
  border: 2px solid black;
}
